.content {
    padding-top: 120px;
}

h1 {
    float: left;
    padding-left: 16px;
}

.btn-refresh {
    float: right;
    margin-top: 12px;
    margin-bottom: 20px;
}

.clear {
    clear: both;
}

.challenges-list, .challenges-add {
    padding: 0;
}

.challenges-list {
    padding-bottom: 30px;
}

.item {
    background: white;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    position: relative;
    min-height: 70px;
    border: 1px solid #95989A;
}

.item-type, .item-name, .item-spaces {
    line-height: 20px;
}

.item-type, .item-spaces {
    padding-left: 10px;
}

.item-type {
    font-weight: bold;
}

.item-name {
    color: #FF5252;
}

.btn-help {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
    margin-left: 10px;
    border: 1px solid #95989A;
    transform: scale(0.9);
}

.tooltip-inner {
    text-align: left;
    white-space: pre-line;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.tooltip-inner p {
    line-height: 16px;
    font-size: 15px;
}

.players {
    padding-left: 10px;
    padding-top: 15px;
}

.player {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 100px;
    border: 1px solid #95989A;
    margin-right: 5px;
}

.btn-item {
    position: absolute;
    right: 15px;
    top: 15px;
    background: #454545;
    color: white;
}

.btn-item:hover {
    background: #FF5252;
    color: white;
}

#message {
    background: #454545;
    color: white;
    line-height: 20px;
    font-size: 14px;
    white-space: pre-wrap;
    padding: 0.6rem;
    padding-left: 0.8rem;
    padding-right: 1.2rem;
    text-align: center;
}

#message i {
    margin-right: 8px;
}

.challenges-add {
    background: #454545;
    padding: 20px;
    padding-top: 3px;
    padding-bottom: 0;
}

.challenges-add h2 {
    color: white;
}

.challenges-add form {
    padding-left: 15px;
    padding-right: 15px;
}

.challenges-add label {
    font-size: 14px;
    color: white;
}

.challenges-add .btn {
    background: #FF5252;
    color: white;
    margin-top: 30px;
    margin-bottom: 25px;
}

@media only screen and (min-width: 768px) {
    .content {
        padding-top: 80px;
    }

    .challenges-list {
        padding-right: 20px;
    }

    .players {
        float: right;
        margin-top: -55px;
        margin-right: 110px;
    }

    .challenges-add {
        padding-top: 0;
        margin-bottom: 20px;
    }

    .challenges-add .btn {
        margin-bottom: 10px;
    }
}

@media (max-width: 1280px) {
    .players {
        float: none;
        margin: 0;
    }
}