body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 36px;
    color: #454545;
}

.navbar-fixed-top {
    background: #FF5252;
    padding-left: 0px !important;
    height: 70px !important;
    border-bottom: 0 !important;
    overflow: hidden;
}

.navbar-fixed-top a {
    height: 70px !important;
    font-weight: bold;
}

.navbar-default a {
    color: white !important;
    text-decoration: none;
}

.navbar-brand {
    font-size: 25px;
    margin-top: -3px;
}

.navbar-brand span {
    display: none;
}

.navbar-brand-logo img {
    height: 55px;
    margin-top: -5px;
}

.form-search {
    overflow: hidden;
    margin-top: -23px;
    display: none;
    padding-right: 10px;
}

.form-search input {
    width: auto;
    overflow: hidden;
}

.form-search .btn {
    height: 46px;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    background: #454545;
    color: white;
}

.form-search i {
    margin: 0;
}

.btn-close-search {
    border-left: 0.5px solid white !important;
    display: inline;
}

.navbar-active {
    background: white !important;
}

.navbar-active a {
    color: #454545 !important;
}

.navbar-mobile {
    border: 0 !important;
    padding: 0;
    padding-top: 8px;
}

.navbar-mobile:hover {
    background: none !important;
}

.navbar-mobile img {
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 100px;
    margin-top: -3px;
}

.navbar-mobile i {
    line-height: 38px;
    font-size: 20px;
}

.badge {
    background: #454545 !important;
    margin-top: -4px;
}

.nav-desktop {
    display: none;
}

.nav-mobile {
    position: fixed;
    height: 47px !important;
    margin-top: 70px;
    background: #454545;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
    }
}

.nav-mobile a {
    font-weight: normal !important;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: -4px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

.nav-mobile a:nth-of-type(1) {
    margin: 0;
}

.nav-mobile a:hover {
    background: #777;
}

.nav-active {
    color: #454545 !important;
    background: #f2f2f2 !important;
}

.content {
    background: #F2F2F2;
    padding-top: 135px;
}

h1 {
    font-size: 25px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
}

p {
    line-height: 25px;
}

.btn {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.2s ease;
    border: none;
    border-radius: 2px;
    white-space: normal;
}

.btn-square {
    border-radius: 0;
    color: white;
    background: #454545;
}

.btn-square:hover {
    color: white;
}

.form-input {
    padding: 22px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-radius: 2px !important;
}

.form-select {
    height: 46px;
    border-radius: 2px;
    padding-left: 15px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.form-control::-webkit-input-placeholder { color: #454545; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #454545; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #454545; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #454545; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #454545; } 

i {
    margin-left: 8px;
}

@media only screen and (min-width: 768px) {
    .navbar-brand span {
        display: inline;
    }

    .form-search {
        display: list-item;
        padding-left: 21px;
        padding-top: 11px;
        padding-right: 0;
        margin-top: 0;
    }

    .form-search input {
        width: 500px !important;
    }

    .btn-search {
        border-top-right-radius: 2px !important;
        border-bottom-right-radius: 2px !important;
    }

    .btn-close-search {
        display: none;
    }

    .navbar-right {
        padding-right: 10px;
    }

    .navbar-right li {
        padding-top: 10px;
        height: 70px;
        transition: 0.2s ease;
        overflow: hidden;
    }

    .navbar-right li:hover {
        background: white;
    }

    .navbar-right li:hover a {
        color: #454545 !important;
    }

    .navbar-right i {
        margin: 0;
        font-size: 20px;
    }

    .navbar-profile {
        margin-top: -4px;
    }

    .navbar-profile img {
        height: 35px;
        width: 35px;
        object-fit: cover;
        border-radius: 100px;
        margin-right: 10px;
        margin-top: -4px;
    }

    .nav-desktop, .content {
        height: 100vh;
        overflow-y: scroll;
        padding: 0;
    }

    .nav-mobile {
        display: none;
    }

    .nav-desktop {
        display: inline;
        text-align: right;
        padding-top: 92px;
    }

    .nav-desktop ul {
        list-style: none;
        padding: 0;
    }

    .nav-desktop ul li {
        padding-right: 30px;
    }

    .nav-desktop ul li a {
        color: #454545;
        font-size: 18px;
        line-height: 38px;
    }

    .nav-active {
        background: #454545 !important;
    }

    .nav-active a {
        color: white !important;
    }

    .content {
        padding-top: 82px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1280px) and (min-width: 750px) {
    .nav-desktop ul li a {
        font-size: 14px;
    }

    .form-search input {
        width: 200px !important;
    }
}