body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 36px;
    color: #454545;
}

.navbar-fixed-top {
    background: #FF5252;
    padding-left: 10px;
}

.navbar-fixed-top a:hover {
    color: white;
    text-decoration: none;
}

#logo {
    line-height: 70px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

#logo img {
    height: 55px;
    margin-top: -7px;
}

.nav-desktop {
    display: none;
}

h1 {
    font-size: 25px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
}

p {
    line-height: 25px;
}

.btn {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.2s ease;
    border: none;
    border-radius: 2px;
    white-space: normal;
}

.form-control {
    padding: 22px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-radius: 2px !important;
}

.form-select {
    height: 46px;
}

i {
    margin-left: 8px;
}

@media only screen and (min-width: 768px) {
    .navbar-fixed-top {
        padding-left: 20px;
    }

    .nav-desktop, .content {
        height: 100vh;
        overflow-y: scroll;
        padding: 0;
        padding-top: 100px;
    }

    .content {
        background: #F2F2F2;
    }

    .nav-desktop {
        display: inline;
        text-align: right;
    }

    .nav-desktop ul {
        list-style: none;
        padding: 0;
    }

    .nav-desktop ul li {
        padding-right: 30px;
    }

    .nav-desktop ul li a {
        color: #454545;
        font-size: 18px;
        line-height: 38px;
    }

    .nav-active {
        background: #454545 !important;
    }

    .nav-active a {
        color: white !important;
    }
}