.content {
    padding-top: 120px;
}

h1 {
    float: left;
    padding-left: 16px;
}

.description {
    clear: both;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
}

.filter-box {
    clear: both;
    border: 1px solid #95989A;
    color: #454545;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    padding-left: 10px;
    position: relative;
    height: 42px;
    display: inline-block;
    width: 100%;
}

.filter-box p {
    line-height: 39px;
}

.filter-box .form-select {
    width: 77px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0;
    background: #454545;
    color: white;
    padding-left: 22px;
    cursor: pointer;
}

.feed {
    padding-left: 14px;
    padding-right: 14px;
}

.col {
    width: 100%;
    padding: 0;
}

.item {
    margin: 10px;
    margin-top: 0;
    margin-bottom: 20px;
    background: #454545;
    color: white;
    padding-bottom: 0;
}

.item-info {
    position: relative;
    display: inline-block;
    width: 100%;
}

.item-profile-pic {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin: 15px;
    border-radius: 100px;
    float: left;
}

.item-user {
    clear: both;
    display: inline-block;
    margin-top: 9px;
}

.item-time {
    margin-top: -18px;
    font-size: 12px;
}

.item-likes {
    position: absolute;
    right: 15px;
    top: 9px;
}

.item-likes i {
    margin: 0;
    margin-right: 5px;
}

.item-content {
    margin-top: 2px;
}

.item-content p {
    margin-left: 70px;
    margin-right: 15px;
    font-size: 24px;
    padding-top: 8px;
    padding-bottom: 30px;
}

.item-content img {
    width: 100%;
    border-left: 1px solid #454545;
    border-right: 1px solid #454545;
}

.item-options {
    border: 1px solid #454545;
}

.item-options input {
    border: none;
    border-radius: 0 !important;
}

.item-options div {
    position: relative;
    height: 42px;
    display: inline-block;
    width: 100%;
    background: #f2f2f2;
}

.item-category {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 42px;
    background: #A5CBFF;
    font-size: 14px;
    color: #454545;
}

.btn-like {
    margin-left: -4px;
    margin-top: -1px;
    height: 100%;
    background: #f2f2f2;
    color: #454545;
    border-left: 1px solid #454545;
    border-right: 1px solid #454545;
}

.btn-like:hover {
    color: #454545;
}

.btn-like i {
    margin: 0;
    margin-right: 5px;
}

.item-options .btn-add {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: #FF5252;
}

@media only screen and (min-width: 768px) {
    .content {
        padding-top: 80px;
    }

    h1 {
        padding-right: 10px;
    }

    .description {
        clear: none;
        margin-top: 30px;
        padding-left: 0;
    }

    .col {
        width: 50%;
    }
}