.content {
    padding-top: 120px;
}

h1, h2 {
    padding-left: 16px;
}

#message {
    margin-left: 16px;
    margin-right: 16px;
    background: #454545;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 20px;
    font-size: 14px;
    white-space: pre-wrap;
    padding: 0.6rem;
    padding-left: 0.8rem;
    padding-right: 1.2rem;
    text-align: center;
}

#message i {
    margin-right: 8px;
}

#message span {
    font-weight: bold;
    font-style: italic;
    color: #FF5252;
    text-decoration: underline;
}

.friends-list {
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -15px;
    margin-bottom: 30px;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
    }
}

.friends-list-item:nth-child(1) {
    margin-left: 35px;
}

.friends-list-item img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: 1px solid #95989A;
    border-radius: 100px;
    margin-right: 8px;
    display: inline-block;
}

.btn-friend-list {
    margin-left: 30px;
    margin-right: 35px;
    background: #454545;
    color: white;
}

.btn-friend-list:hover {
    background: #FF5252;
    color: white;
}

h2 {
    font-size: 25px;
    font-weight: bold;
}

.users-list {
    margin-top: 20px;
}

.users-list .row {
    margin: 0;
    padding-left: 13px;
    padding-right: 13px;
}

.col {
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
}

.users-list-item-link {
    color: #454545;
}

.users-list-item-link:hover {
    text-decoration: none;
    color: #454545;
}

.users-list-item-container {
    background: white;
    border: 1px solid #95989A;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 20px;
}

.users-list-item-container img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: 1px solid #95989A;
    border-radius: 100px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 20px;
}

.users-list-item-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 15px;
    overflow: hidden;
    position: absolute;
    padding-right: 20px;
}

.users-list-name {
    font-weight: bold;
    font-size: 18px;
}

.users-list-item-container p {
    line-height: 16px;
}

.btn-accept {
    background: #454545;
    color: white;
    position: absolute;
    right: 22px;
    top: 33px;
}

.btn-accept:hover {
    background: #FF5252;
    color: white;

}

@media only screen and (min-width: 768px) {
    .content {
        padding-top: 80px;
    }

    .col {
        width: 50%;
    }

    .users-list-item-info {
        margin-top: 11px;
    }
}

@media (max-width: 1280px) {
    .users-list-item-info {
        margin-top: 14px;
    }

    .users-list-item-container p {
        font-size: 14px;
        line-height: 12px;
    }

    .btn-accept {
        position: relative;
        top: 0;
        right: 0;
        margin-top: 15px;
        margin-left: 106px;
    }
}