body {
    background: #f2f2f2;
}

.container {
    padding: 20px;
    padding-top: 80px;
    text-align: center;
}

.progress {
    border-radius: 2px;
}

.progress-bar-active {
    color: white;
    background: #454545;
    font-weight: bold;
}

.progress-bar-inactive {
    color: black;
    background: lightgray;
}

.progress-bar:nth-of-type(2) {
    border-left: 0.5px solid white;
    border-right: 0.5px solid white;
}

form {
    background: white;
    color: #454545;
    padding: 30px;
    border-radius: 2px;
}

.btn-submit {
    color: white;
    background: #FF5252;
    margin-top: 20px;
}

.btn-submit:hover {
    color: white;
    background: #454545;
}

footer {
    margin-top: 50px;
    background: #454545;
    color: white;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

footer p {
    line-height: 10px;
}

h4 {
    margin-bottom: 25px;
}

.btn-option {
    color: #454545;
    background: white;
    width: 100%;
    padding-bottom: 12px;
    margin-bottom: 10px;
}

.btn-option:hover {
    color: white;
    background: #454545;
}

.btn-option h4 {
    margin-bottom: 0;
    font-weight: bold;
}

.btn-option div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-option span {
    text-transform: uppercase;
    background: red;
    color: white;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 10px;
}

.btn-option p {
    font-size: 16px;
}

@media only screen and (min-width: 768px) {
    .container {
        padding: 0;
        padding-top: 80px;
        text-align: left;
    }
}