.content {
    padding-top: 120px;
}

h1 {
    float: left;
    padding-left: 16px;
}

.description {
    clear: both;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
}

.nav-tabs {
    
}

form {
    clear: both;
    padding-top: 15px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 20px;
}

.ms-container {
    width: 100%;
}

.select-header {
    margin-top: -10px;
    text-align: center;
    font-weight: bold;
    background: #f2f2f2;
}

.ms-elem-selectable:hover, .ms-elem-selection:hover {
    background: #454545 !important;
}

.btn-submit {
    color: white;
    background: #FF5252;
    margin-top: 30px;
}

.btn-submit:hover {
    color: white;
    background: #454545;
}

h2 {
    padding-left: 16px;
}

@media only screen and (min-width: 768px) {
    .content {
        padding-top: 80px;
    }

    h1 {
        padding-right: 10px;
    }

    .description {
        clear: none;
        margin-top: 30px;
        padding-left: 0;
    }
}