body {
    background: #454545;
}

.col-intro, .col-signin {
    color: white;
}

.col-intro {
    background: #454545;
}

.col-signin {
    background: #FF5252;
    padding: 20px;
    text-align: center;
}

#logo {
    text-align: center;
    line-height: 80px;
    font-size: 25px;
    font-weight: bold;
}

#logo img {
    height: 50px;
    margin-left: -13px;
    margin-top: -5px;
}

.images {
    display: none;
}

.btn-register {
    background: white;
    color: #454545;
}

.btn-register:hover {
    color: white;
    background: #454545;
}

.btn-desktop {
    display: none;
}

h1 {
    display: none;
}

form {
    text-align: center;
    margin-top: 0;
    padding: 40px;
    clear: both;
}

.btn-signin {
    margin-top: 20px;
    background: #454545;
    color: white;
}

.btn-signin:hover {
    color: #454545;
    background: white;
}

#or {
    display: block;
    font-weight: bold;
    margin-top: -20px;
}

.btn-mobile {
    margin-top: 40px;
    display: inline-block;
}

footer {
    padding-top: 100px;
    padding-left: 0;
    padding-bottom: 30px;
    font-size: 14px;
    text-align: center;
}

footer p {
    line-height: 10px;
}

@media only screen and (min-width: 768px) {
    .col-intro, .col-signin {
        height: 100vh;
    }

    #logo {
        text-align: left;
        padding: 10px;
        padding-left: 20px;
        line-height: 70px;
        font-size: 35px;
    }

    #logo img {
        height: 70px;
    }

    .images {
        display: inline-block;
        padding-left: 30px;
        padding-right: 30px;
    }

    .col-img {
        padding: 0;
    }

    .col-img img {
        object-fit: cover;
        width: 100%;
    }

    #img-signin-1, #img-signin-2, #img-signin-3 {
        float: right;
        padding-right: 10px;
    }

    #img-signin-1 {
        padding-bottom: 10px;
        padding-left: 100px;
    }

    #img-signin-4 {
        margin-top: 30px;
    }

    .btn-register {
        float: right;
    }
    
    .btn-desktop {
        display: inline-block;
    }

    form {
        padding: 100px;
        margin-top: 60px;
        text-align: left;
    }
    
    #or {
        display: none;
    }
    
    .btn-mobile {
        display: none;
    }

    footer {
        text-align: left;
        padding-top: 50px;
        padding-left: 85px;
        padding-bottom: 0;
    }
}

@media (max-width: 1280px) and (min-width: 800px) {
    form {
        padding: 35px;
        margin-top: 100px;
        text-align: left;
    }
    
    footer {
        padding-left: 20px;
    }
}